.box-count {
    display: flex;
    max-width: 200px;
    margin: 2rem;
}
.box-count button{
background-color: rgb(109, 162, 231);;
border: none;
color: white;
margin: 0.2rem;
padding: 0.2rem;
border-radius: 20px;
}

.box-count-children {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}